<div class="container p-4">
    <div class="entry" >
        <div class="primeraParte">
            <div class="img img-round">
                    <img src="./IMAGENES/satPrincipal.png" width="200"  height="200" class="rounded-circle" />
            </div>
        </div>
        <div class="secondPart">
            <div class="name">
                <p>Emmanuel</p>
            </div>
            <div class="carrera">

            </div>
            <div class="universidad">

            </div>
            <div class="rol">

            </div>
        </div>
    </div>

</div>