{{!<div class="container p-4">
    <div id="imagen">
        <div id="info">
            <p id="headline">Lic. Emmanuel Sanchez Hernandez</p>
            <p id="texto">IPN UPIICSA</p>
            <div id="navegador">
                <ul>
                    <li><a href="#">Elemento 1</a></li>
                    <li><a href="#">Elemento 2</a></li>
                    <li><a href="#">Elemento 3</a></li>
                    <li><a href="#">Elemento 4</a></li>
                </ul>
            </div>
            <img href="IMAGENES/windows.jpg">
        </div>
    </div>
</div>}}