<div class="container p-4">
    <h2>Hola!</h2>
    <p>Querido usuario, primero que nada me gustaria desearle que se encuentre bien. Le mandamos un cordial saludo de parte de mis compañeros de servicio social y del SAT
        Le presentaremos un manual de usuario, esperando sea de su agrado 
    </p>

</div>