<div class="portada">
		<div class="text">
			<h1>Bienvenido a SAT SYSTEM</h1> 
			<h3>Herramienta de apoyo para procesos administrativos</h3>
		</div>
</div>
<div class="container p-4" name="contenido2" id="cafe">
	<h3>Registrate</h3>
	<p>Para poder ingresar al sistema SAT debes registrarte, da click en el botón para hacerlo.</p>
<a class="btn btn-primary" href="/registro" role="button">Registrarte</a>
</div>
<div class="container p-4" id="vino">
	<h3>Iniciar sesión</h3>
	<p>Ingresa al sistema SAT iniciando sesión, da click en el botón para hacerlo.</p>
	<a class="btn btn-primary" href="/inicio" role="button">Iniciar sesión</a>
</div>