<div class="container p-4">
  <div class="container p-4">
    <div class="noEmpleado">
      No de empleado:
      <div class="form-control">
        <p class="noEmpleado">No empleado</p>
      </div>
    </div>
  </div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

  <div class="h2">Proceso para dar de baja/alta cuentas</div>
  <div class="container p-4" id="vino">
      <h4>Proceso para dar de baja una cuenta.</h4>
      <p>Para dar de baja una cuenta da click en el boton para descargar el manual y sigue los pasos.</p>
      <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/DOCS/BAJA DE CUENTA.pdf" class="btn btn-success" download="BajaCuenta.pdf">Descargar manual</a>
      <h4>Proceso para dar de alta una cuenta.</h4>
      <p>Para dar de baja un cuenta da click en el boton para descargar el manual y sigue los pasos</p>
      <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/DOCS/ALTA DE CUENTA.pdf" download="AltaCuenta.pdf" class="btn btn-success">Descargar manual</a>
    </div>
</div>
