<div class="container p-3">
    <div class="form-group">
        <h3 class="card-title text-center">Digita tu numero de empleado para verificar tu informacion relacionada</h3>
    </div>
</div>
<div class="container p-3"> <!-- P = PADDING -# NUMERO -->
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card " style="background: #DDCBA4">
                <div class="card-body">
                    <form action="/usuarios/usuarios" method="POST">
                    <div class="form-group">
                        <input type="number" placeholder="Escribe tu numero de empleado" class="form-control"name="no_empleado" id="">                    
                    </div>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-success btn-block">Aceptar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
