<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #A02140;">
  <a class="navbar-brand" href="/index">
    <img src="IMAGENES/logotipos SAT-08.svg" id="logo"  width="190" alt="logo sat">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/principal">Principal<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cuentas">Cuentas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pases/pases">Pases</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Equipo de cómputo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/equipos/computo">Equipos</a>
          <a class="dropdown-item" href="/equipos/accesorios">Accesorios</a>
          <a class="dropdown-item" href="/equipos/impresoras">Impresoras</a>
        </div>
        <li class="nav-item active">
        <a class="nav-link" href="/logout">Cerrar sesión <span class="sr-only">(current)</span></a>
      </li>
      </li>
   
          <li class="nav-item">
            <a class="nav-link" href="/inicio">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registro">REGISTRO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acerca">ACERCA DE</a>
          </li>
  
      
      
    </ul>
  </div>
</nav>