<div class="container p-4">
    <div class="container p-4" id="cafe">
        <div class="h2">Pases de salida</div>
        <p>Aqui podras consultar los diferentes pases de salida que puedes adquirir para tu(s) equipo(s). Existen dos tipos segun tu tipo de perfil.
           <strong> Perfil fijo y perfil movil</strong>. Para descargar alguno de ellos da click en el boton correspondiente para descargar el manual y seguir los pasos.
        </p>
        <div class="h4">Pase de salida Perfil fijo</div>
        <p>Da click en el boton para descargar el manual y sigue los pasos.</p>
            <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/DOCS/PASE PERMANENTE PERFIL FIJO.pdf" class="btn btn-success" download="PasePermanenteFijo.pdf">Descargar manual</a>

        <div class="h4">Pase de salida Perfil movil</div>
        <p>Da click en el boton para descargar el manuel y sigue los pasos.</p>
          <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/DOCS/PASE PERMANENTE PERFIL MOVIL.pdf" class="btn btn-success" download="PasePermanenteMovil.pdf">Descargar manual</a>

    </div>
</div>