html,body{
      
       
      height:100%;
      width:100%;
      margin: 0px;
    }
    
    
    .portada{
        background: url('../IMAGENES/satPrincipal.png') no-repeat fixed center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100% ;
        text-align: center;

        
    
    }
    .text{
    font-family:'Opens Sans',helvetica; 
    margin: 30px 0px 30px 0px;	
    padding: 10px;
    background: rgba(0,0,0,0.5);
    display: inline-block;
    }
    h3, h1{
        color:  #000000;
    }