/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(0, 0, 0);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

#contenedorForm{
    display: flex;
    background-color: #DDCBA4;
    border-radius: 20px;
}

#origen, #destino, #fecha{
   position: left;
}