  <div class="container">

    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Registrarse</h5>
            <form class="form-signin" action ="/inicio" method="POST"> 
              <div class="form-label-group">
                <input type="number"  name="noEmpleado" class="form-control" placeholder="Escribe tu numero de usuario" required autofocus>
                <label for="">Escribe tu numero de usuario</label>
              </div>

              <div class="form-label-group">
                <input type="password"  name="password" class="form-control" placeholder="Escribe tu contrase単a" required>
                <label for="">Escribe tu contrase単a</label>
              </div>
              <div class="form-label-group">
                <input type="password2"  name="password2" class="form-control" placeholder="Repite tu contrase単a" required>
                <label for="inputEmail">Repite tu contrase単a</label>
              </div>
              <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrarse</button>
              </div>
              <div class="form-group">
               <button class="btn btn-lg btn-primary btn-block text-uppercase">Cancelar</button>
              </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>