<div class="container p-4" id="impresoras">
    <div class="container p-4" id="vino" style="">
        <h2>Reasignacion de impresoras</h2>
        <p>Para el proceso de reasignacion de impresoras sugerimos tener el contacto de algun usuario que necesite 
            una impresora para poder agilizar el proceso. De no poseer dicha informacion da click en el boton para descargar
            el manual y sigue los pasos.
        </p>
    </div>
<!--  FORMULARIO DE ENTRADA -->

    <div class="container p-4" id="cafe">
        <form class="form" method="POST" action="/equipos/impresoras">
            <div class="flexbox">
                <div class="container p-4" id="destino">
                        <h3>Informacion de los equipos a reasignar</h3>
                        <div class="equipos"></div>
                        <label for=""><strong> Escribe la razon de la reasignacion</strong></label>
                        <textarea name="" id="" cols="30" rows="4"></textarea>
                </div>
                <div class="container p-4">
                    <h3>Periodo de tiempo</h3>
                    <p>Selecciona una opcion de las siguientes:</p>
                    <input type="checkbox" name="" id=""> <label for="">Temporal ( la reasignacion sera por un tiempo no maximo a 3 meses)</label>
                    <input type="checkbox" name="" id=""> <label for="">Indefinido</label>
                </div>
               <div class="container p-4" id="fecha">
                        <div class="bootstrap-iso">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="form-group"> <!-- Date input -->
                                    <h3>Fecha</h3>
                                        <input class="form-control rounded" id="date" name="date" placeholder="Selecciona la fecha de solicitud" type="text"required/>
                                    </div>
                                </div>
                            </div>    
                        </div>
                </div> 
            </div>
            <div>
                <button  type="submit" class="btn btn-success">ENVIAR DATOS</button>
            </div>
        </form>
    </div>



    <div class="container p-4" id="vino">
        <div class="container p-4" id="containerScroll">
        <div id="divScroll">
        <div>
            <img src="/IMAGENES/logotipos SAT-08.svg" alt= "Logo sat png "width="350" height="100">
            <center><h1 class="contenedor2 margen">FORMATO DE SOLICITUD DE ALTA CON BAJA SIDYF3</h1></center>
        </div>
    
    <section>
        <ul>
            <div>
                <p> Fecha de Solicitud: &nbsp; &nbsp; &nbsp; &nbsp; <input type="date"> <br></p>
                <p>Numero de Reporte de Baja Equipo Solicitado: </p> 
            </div>
        </ul>
    </section>

     <section>
    <div>
        <center><h2 class="contenedor2 margen5">I.- DATOS GENERALES DEL USUARIO</h2></center>
    
   
        <div class="horizontal">
        <div id="uno">
            <div> Nombre del Usuario:<output type="text">___________________________</output></div>
           <div>Administracion:<output type="text">_______________________________</output></div>
            <div>ID Localidad:<output type="text">_________________________________</output></div>
        </div>
        
            <div id="dos">
                <div> Extension:
                    <output type="text">___________________________</output></div>
                <div>  
                    Puesto:
                    <output type="text">______________________________</output></div>
            
            </div>
            <div id="tres">
                    <div> Num Empleado:
                    <output type="text">___________________________</output></div>
                    <div> Area:
                    <output type="text">____________________________________</output></div>
                    <div>Nombre Localidad:</div>
                </div>
        </div>
        <div>Dirección:
                <output type="text">________________________________________________________________________________________________________________________</output>
        </div>
        </div>
    </section>

    <section>
        <center><h2 class="contenedor2 margen5">II.- INFORMACION DEL Ó LOS EQUIPO(S) A REASIGNAR</h2></center>
        
        <div>SELECCIÓN (Marcar): </div>
            <table>
                <tr>
                    <th> SERVICIO </th>
                    <th> MARCA </th>
                    <th> MODELO DEL EQUIPO </th>
                    <th> SERIE DE EQUIPO </th>
                </tr>
                <tr>
                    <td align="left">
                        <input type="checkbox"> FOTO COPIADO PORTÁTIL <br> </input>
                        <input type="checkbox"> IMPRESIÓN PORTÁTIL <br> </input>
                        <input type="checkbox"> DIGITALIZACIÓN ALTO VOLUMEN <br> </input>
                        <input type="checkbox"> DIGITALIZACIÓN BAJO VOLUMEN <br> </input>
                        <input type="checkbox"> IMPRESION A COLOR <br> </input>
                        <input type="checkbox"> IMPRESIÓN ALTO FORMATO (PLOTTER) <br> </input>
                    </td>
                    <td>
                        HP <br>
                        HP <br>
                        FUJITSU <br>
                        FUJITSU <br>
                        HP <br>
                        HP <br>
                    </td>
                    <td>
                        OJ MOBILE PRINT 150 <br>
                        OJ MOBILE PRINT 100 <br>
                        FI-6670 <br>
                        FI-6670 <br>
                        CP4525DN <br>
                        DESIGNJET T1300
                    </td>
                    <td>
                        <output type="text"></output>
                        <output type="text"></output>
                        <output type="text"></output>
                    </td>
                </tr>
            </table>
    </section>

    <section>
        <center><h2 class="contenedor2 margen5">III.- JUSTIFICACIÓN DE LA SOLICITUD</h2></center>
    </section>
    <section>
        <center><div>
            <p>_________________________________________________________________________</p>
            <p>_________________________________________________________________________</p>
            <p>_________________________________________________________________________</p>
        </div></center>
    </section>

    <section>
            <center><h2 class="contenedor2 margen5">IV.- PERIODO DE TIEMPO</h2></center>
    </section>

    <section>
        SELECCIÓN (marcar) <br>
        <ul>
            <input type="checkbox"> Temporal </input> &nbsp; &nbsp; &nbsp; 
            De:__________ Al:____________________ 2019  <br>
            <em> nota: el requerimiento temporal no debe exceder 3 meses <br> <br> </em>
            <input type="checkbox"> Indefinido </input>
        </ul>
    </section>

    <section>
        <center><h2 class="contenedor2 margen5">V.- VISTO BUENO Y APROBACIÓN DEL SADCTI DEL INMUEBLE</h2></center>
    </section>
    <center><br><br><br><p>______________________________________________________________</p></center>
    <center><p>Nombre y Firma del SADACTI Responsable del Inmueble</p></center>

    <section>
            <p>Nota: </p>
            <div class="margen3 contenedor">
                <p>El uso del equipo es exclusivamente para el desempeño de funciones laborales del SAT. <br>
                    El resguardante será responsable de los bienes asignados, conforme a lo establecido en el Articulo 8, 
                    fracción III de la Ley Federal de responsabilidades <br>
                    Administrativas de los Servidores Públicos y demás leyes, Normas y Lineamientos aplicables a este rubro. <br>
                    "Utilizar los recursos que tenga asignados y las facultades que le hayan sido atribuidas para el desempeño de sus funciones,
                    cargo o comisión, exclusivamente <br> para los fines a que están afectos"
                </p>
            </div>
        </section>
    <center><br><br><br><p>______________________________________________________________</p></center>
    <center><p>Nombre y Firma del Usuario Solicitante</p></center>
            </div>
        </div>
    </div>
    
</div>